<% if params["locale"] === "fr" %>
<% langage = :second %>
<% elsif params["locale"] === "en" %>
<% langage = :third %>
<% else %>
<% langage = :third %>
<% end %>

<div class="container ">
  <h2 class='mb-5 title'>Comparaison des devis</h2>
  <div class="d-flex">
    <div class='w-33'></div>
    <div class='w-33 small-title'>Devis initial</div>
    <div class='w-33 small-title'>Devis personnalisé</div>
  </div>

  <div class="d-flex bg-light-turquoise align-items-center border-top">
    <div class='w-33 p-2 sub-title-1'> Seuil d'intervention</div>
    <div class='w-33 p-2 '><p class='text-important-bold text-semibold mb-0'>180 000 €</p></div>
    <div class='w-33 p-2 '><p class='text-important-bold text-semibold mb-0'>180 000 €</p></div>
  </div>

  <div class="d-flex  align-items-center border-top">
    <div class='w-33 p-2 sub-title-1'>Garantie plancher </div>
    <div class='w-33 p-2 '>
      <p class='text-important-bold text-semibold mb-0'>130 000 €</p>
      <p class='sub-title-1'>Reconstitution 2 fois Franchise à 35%</p>
    </div>
    <div class='w-33 p-2 '>
      <p class='text-important-bold text-semibold mb-0'>130 000 €</p>
      <p class='sub-title-1'>Reconstitution 2 fois Franchise à 35%</p>
    </div>
  </div>

  <div class="d-flex bg-light-turquoise align-items-center border-top">
    <div class='w-33 p-2 sub-title-1'>Garantie Click & Cover </div>



    <div class='w-33 px-2 pb-2 '>
      <div class='mb-2'>
        <p class='text-important-bold text-semibold mb-2'>Client grade A</p>
        <p class='text-important-bold text-semibold mb-2'>140 000 €</p>
        <p class='sub-title-1 mb-35'>Reconstitution 2 fois Franchise à 15%</p>
      </div>
      <div>
        <p class='text-important-bold text-semibold mb-2'>Client grade B</p>
        <p class='text-important-bold text-semibold mb-2'>90 000 €</p>
        <p class='sub-title-1'>Reconstitution 2 fois Franchise à 15%</p>
      </div>
    </div>

    <div class='w-33 p-2 '>
      <div class='mb-2'>
        <label for="client-a" class='text-important-bold text-semibold mb-2 pb-0'>Client grade A</label>

        <div class='text-important-bold text-semibold mb-2'>
          <select name="client-a" id="pet-select" class='w-100 p-2 rounded-2 bg-light-turquoise text-important-bold text-semibold border-light-turquoise'>
              <option value="">140 000 €</option>
              <option value="-10">130 000 €</option>
              <option value="+10">150 000 €</option>
          </select>
        </div>
        <p class='sub-title-1 mb-4'>Reconstitution 2 fois Franchise à 15%</p>
      </div>
      <div>
        <label for="client-a" class='text-important-bold text-semibold mb-2 pb-0'>Client grade B</label>

        <div class='text-important-bold text-semibold mb-2'>
          <select name="client-a" id="pet-select" class='w-100 p-2 rounded-2 bg-light-turquoise text-important-bold text-semibold border-light-turquoise'>
              <option value="">90 000 €</option>
              <option value="-10">80 000 €</option>
              <option value="+10">100 000 €</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex  align-items-center border-top">
    <div class='w-33 p-2 sub-title-1'>Prime honoraires annuels </div>
    <div class='w-33 p-2 '>
      <p class='text-important-bold text-semibold mb-0'>300 €</p>
      <p class='sub-title-1'>Comprenant 3 consultations Click & Cover</p>
    </div>
    <div class='w-33 p-2 '>
      <p class='text-important-bold text-semibold mb-0'>300 €</p>
      <p class='sub-title-1'>Comprenant 3 consultations Click & Cover</p>
    </div>
  </div>
  <div class="d-flex  bg-light-turquoise align-items-center border-top">
    <div class='w-33 p-2 sub-title-1'>Doublement temporaire de garantie(s) </div>
    <div class='w-33 p-2 '>
      <div class='mb-4'>
        <p class='text-important-bold text-semibold mb-0'>300 €</p>
        <p class='sub-title-1'>Comprenant 3 consultations Click & Cover</p>
      </div>
      <div>
        <p class='text-important-bold text-semibold mb-0'>300 €</p>
        <p class='sub-title-1'>Comprenant 3 consultations Click & Cover</p>
      </div>
    </div>
    <div class='w-33 p-2 '>
      <div class='mb-4'>
        <p class='text-important-bold text-semibold mb-0'>300 €</p>
        <p class='sub-title-1'>Comprenant 3 consultations Click & Cover</p>
      </div>
      <div>
        <p class='text-important-bold text-semibold mb-0'>300 €</p>
        <p class='sub-title-1'>Comprenant 3 consultations Click & Cover</p>
      </div>
    </div>
  </div>
  <div class="d-flex  align-items-center border-top">
    <div class='w-33 p-2 sub-title-1'></div>
    <div class='w-33 p-2 '>
      <div class='btn btn-primary w-100' >
        Acheter
      </div>
    </div>
    <div class='w-33 p-2 '>
      <div class='btn btn-primary w-100' >
        Acheter
      </div>
    </div>
  </div>

</div>
