<div class="container">
  <h1 class="text-dark-blue mb-4">Votre espace Assuré</h1>
  <p>
    <span class="text-dark-blue text-bold">Notre plateforme </span> digitale regroupe l’ensemble des étapes et fonctionnalités qui
    composent la vie de votre police d’assurance des Impayés
  </p>
  <p>
    Dans un environnement simple d’utilisation et complètement sécurisé, accédez à
    chaque menu vous permettant <span class="text-dark-blue text-bold">en cliquant sur les icones situées sur :</span>
  </p>


  <div class="row mt-4">
    <div class="col-12 col-md-6 mt-4">
      <div class="text-white text-bold bg-turquoise px-4 py-2 d-flex justify-content-between rounded-top" data-toggle="collapse" href="#devis" role="button" aria-expanded="false" aria-controls="devis">
        <p class='mb-0'>La barre supérieure de cet écran d’accueil</p>
        <p class='mb-0'>v</p>
      </div>

      <div class="collapse" id="devis">
        <div class="px-4 bg-light-turquoise py-2 rounded-bottom">
          d'effectuer en temps réel des demandes de garanties individuelles sur toute
          entreprise, d’envoyer une relance écrite auprès de clients en retard de
          paiement, de confier le recouvrement de vos factures impayées et de déclarer
          tout sinistre et menace de sinistre ainsi que de prendre directement contact
          par mail avec nos conseillers ou notamment par Chat en ligne en bas à droite
          de tous les écrans ou avec votre intermédiaire.
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mt-4">
        <div class="text-white text-bold bg-turquoise px-4 py-2 d-flex justify-content-between rounded-top"  data-toggle="collapse" href="#assistance" role="button" aria-expanded="false" aria-controls="assistance">
          <p class='mb-0'>La barre verticale de cet écran d’accueil</p>
          <p class='mb-0'>v</p>
        </div>
      <div class="collapse" id="assistance">
        <div class="px-4 bg-light-turquoise py-2 rounded-bottom">
          de consulter les notifications envoyées par InsureTrade, le récapitulatif de vos
          demandes de Garantie individuelle, un état de vos créances impayées en
          recouvrement, un état de vos sinistres et menaces de sinistre, tous vos
          documents relatifs à votre police d’assurance des Impayés y compris vos
          documents contractuels, les guides de gestion, un tutorial vous apportant des
          conseils techniques, des newsletters.., une aide pour gérer votre connection à
          la présente plateforme sous forme d’un guide des fonctionnalités en plusieurs
          étapes, un profil permettant d’actualiser vos données personnelles.
        </div>
      </div>
    </div>

  </div>



</div>

