<div class="container">
  <h1 class="text-dark-blue mb-4">Espace Partenaire </h1>
  <p>
    InsureTrade vous simplifie l'accès à une offre unique d'assurance-crédit et optimise un parcours totalement digitalisé de souscription et de gestion
    simplifiée accessible à tous.
  </p>
  <p>
    Notre ambition, <span class="text-dark-blue text-bold"> VOUS ACCOMPAGNER</span> avec un outil <span class="text-dark-blue text-bold"> DIGITAL </span>performant et des <span class="text-dark-blue text-bold"> SOUTIENS PERSONNALISES </span>pour vous permettre de vous
    <span class="text-dark-blue text-bold"> DEVELOPPER </span>sereinement.
  </p>
  <p>
    Nous centralison sur notre plateforme digitale l'ensemble des étapes qui composent la vie d'un contrat d'assurance et auxquelles
    <span class="text-dark-blue text-bold"> vous pouvez accéder en ligne à l'aide des différents menus mis à votre disposition.</span>
  </p>

  <div class="row mt-4">

    <div class="col-12 col-md-6 mt-4">
      <p>
        <a class="text-dark-blue text-bold " data-toggle="collapse" href="#devis" role="button" aria-expanded="false" aria-controls="devis">
          Devis /Souscription
        </a>
      </p>
      <div class="collapse" id="devis">
        <div class="">
          Vous obtenez en quelques clics, un devis personnalisé pour vos clients et pouvez conclure la mise en place d'une police par sa signature électronique. Tous vos devis en ligne et documents contractuels sont conformes à la DDA.
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mt-4">
      <p>
        <a class="text-dark-blue text-bold"  data-toggle="collapse" href="#assistance" role="button" aria-expanded="false" aria-controls="assistance">
          Assistance technique
        </a>
      </p>
      <div class="collapse" id="assistance">
        <div class="">
          Vous bénéficiez d'un support en ligne et par téléphone par nos équipes à chaque étape de la vis d'une police avec des explications ou compléments automatiques apportés sur des termes techniques.
          Vous êtes accompagné par un conseiller qui vous est persollement dédié pour répondre à tous vos besoins.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-4">
      <p>
        <a class="text-dark-blue text-bold" data-toggle="collapse" href="#gestion" role="button" aria-expanded="false" aria-controls="gestion">
          Assurés, prospects et comptable
        </a>
      </p>
      <div class="collapse" id="gestion">
        <div class="">
          Vous avez accès en ligne à l'ensemble des données nécessaires à votre suivi administratif et comptable de tout le
          cycle de vente d'une police d'assurance : suivi de vos devis ( relance automatique que vous pouvez actionner ),
          gestion de votre portefeuille assurés ( souscription, documents contractuelles, garanties individuelles, avenants, encaissement,
          recouvrement, renouvellement, résiliation...), gestion comptable de vos honoraires.
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mt-4">
      <p>
        <a class="text-dark-blue text-bold" data-toggle="collapse" href="#accompagnement" role="button" aria-expanded="false" aria-controls="accompagnement">
          Accompagnement commercial
        </a>
      </p>
      <div class="collapse" id="accompagnement">
        <div class="">
          <p>
            Vous pouvez consulter gratuitement le grade de risque attribué par InsureTrade sur 5 entreprises par mois. Ceci vous permettra lors de la souscription d'une police de connaître à l'avance
            la prise en garantie d'un ou plusieurs clients de votre prospect.
          </p>
          <p>
            Vous disposez d'un tutorial e nligne vous apportant une formation technique à l'assurance crédit.
          </p>
          <p>
            Vous pouvez utiliser un large panel d'outils d'aide à la vente avec des fiches produits, des newletters, des arguments
            commerciaux et des exemples de sinistre.
          </p>
          <p>
            Vous êtes invités à participer à des sessions de formation technique ou commerciale organisées régulièrement par nos équipes.
          </p>
          <p>
            Vous souhaitez personnaliser vos prestations, nos équipes peuvent mettre à votre disposition des éditiques
            ( devis, contrats, appel de prime, attestation) adaptés aux couleurs et à la marque de votre cabinet.
          </p>

        </div>
      </div>

    </div>
  </div>



</div>
