// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #2E95F9;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #413E3E;
$light-gray: #F4FAFF;


// new style:
$turquoise: #50C0C7;
$dark-turquoise: #46A4AA;
$dark-blue: #05455E;
$dark-grey: #7C9193;
$dark-green: #32936F;
$light-grey: #ECF1F1;
$black: #2B2F32;
