<% if params["locale"] === "fr" %>
  <% langage = :second %>
<% elsif params["locale"] === "en" %>
  <% langage = :third %>
<% else %>
  <% langage = :third %>
<% end %>



  <div class="container ">
    <div class="title  center my-4">
      <h2><%= t 'contract.new.police' %></h2>
    </div>
    <%= simple_form_for [@customer, @contract] , html: { class: "center-form"}  do |f| %>
    <%= f.input :insure_trade_type, as: :radio_buttons, collection: Contract::INSURETRADTYPE, label_method: langage, value_method: :first, legend_tag: false, item_wrapper_class: 'form-check-custom'   %>
    <%= f.submit "#{t 'contract.new.button' }", class:'btn btn-primary' %>
    <% end %>
  </div>
