<div class="">
  <div class="bg-dark-blue text-white d-flex flex-column  align-items-center py-5">
    <h1 class= 'pb-3'>L’assurance des impayés<br>simplifiée et automatisée</h1>
    <h3>Accessible à tous les professionnels, TPE et PME<br>sur leurs clients, entreprises et administrations</h3>
  </div>
  <div class='block-button'>
    <%= link_to "Espace partenaire", new_user_session_path(status: "expert"), class: 'btn btn-primary mr-2' %>
    <%= link_to "Espace assuré", new_user_session_path(status: "assure"), class: 'btn btn-primary'%>
  </div>
  <div class='d-flex flex-column  align-items-center py-5'>
    <h2 class='pb-4'>Vous êtes courtier d’assurance</h2>
    <div class='d-flex mx-7'>
      <p>InsureTrade propose des offres d’assurance<br> des impayés spécialement construites pour<br> être recommandées et distribuées en toute<br> confiance par tous les courtiers d’assurance.<br> Nous vous accompagnons avec des moyens </p>
      <p class='mx-5'>digitalisés et didactiques en ligne ou par<br> téléphone tout au long de la souscription<br> des polices - effectuée en quelques clics -<br>et immédiatement mise en place avec une<br> signature électronique.</p>
      <p>Vous pouvez ainsi enrichir en toute sérénité<br> votre offre commerciale et élargir votre<br> gamme de produits/services d’assurance<br> et de conseils auprès de vos assurés<br> et prospects</p>
    </div>
    <%= link_to "Devenez partenaire", new_user_registration_path(status: "expert"), class: 'btn btn-primary my-5' %>
    <h2 class='pb-4'>Vous êtes professionnels, chef d’entreprise ou <br> prestataire de services auprès des pros , TPE, PME</h2>
    <div class='d-flex mx-7'>
      <p>InsureTrade élimine les obstacles d’accès<br> à l’assurance-crédit pour les professionnels,<br> tpe et pme en proposant des tarifications<br> à tous les budgets,</p>
      <p class='mx-5'>la certitude d’un plancher d’indemnisation<br> quelque soit la modification des risques<br>en cours de police et <br> par une totale digitalisation,</p>
      <p>une souscription immédiate<br> de la police avec une gestion simplifiée<br>et automatisée des garanties.<br> </p>
    </div>
    <%= link_to "Demandez une démo", root_path, class: 'btn btn-primary my-5'%>
  </div>
</div>
