.bg-dark-blue {
  background-color: $dark-blue;
}

.h-screen-withnavbar {
  height: calc(100vh - 97px);
}


.h-screen {
  min-height: 100vh;
}

.container {
  margin-top: 3rem;
}

.bg-light-grey {
  background-color: $light-grey;
}
.bg-turquoise {
  background-color: $turquoise;
}

.bg-light-turquoise {
  background-color: #EEF9F9;
}

.bg-white {
  background-color: white;
}

.bg-dark-green {
  background-color: #46AA62;
}

.bg-dark-orange {
  background-color: #FF5252;
}

.bg-light-orange {
  background-color: #FB9F4A;
}

