.buttons {
  background-color: rgba(189, 187, 187, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

.buttons{
  * {
    width: 300px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-contrat-creation-300 {
  width: 300px;
}

.button-250 {
  width: 250px;
}

.btn {
  border-radius: 12px !important;
  padding: 8px 48px !important;
  color: white !important;
}

.btn-small {
  padding: 4px 24px !important;
}


.border-classic {
  border-radius: 12px !important;
}

.border-classic-left {
  border-radius: 12px 0 0 12px !important;
}

.border-classic-right {
  border-radius: 0 12px 12px 0 !important;
}

.btn-cancel {
  color: $primary !important;
  background-color: white;
  border: 1px solid $primary
}

.pointer {
  cursor: pointer;
}

.dropdown-item-customize {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  color: white;
  margin-bottom: 0rem !important;
}

.rounded-top {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.rounded-bottom {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.box-right {
    position: fixed;
    right: 32px;
    bottom: 32px;
    height: 48px;
    width: 48px;
}

.block-button {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media(max-width: 700px) {


  .block-button {
    display: block;
    position: absolute;
    left: 50%;
    height: 10%;
    transform: translateY(-50%) translateX(-50%);
  }
}

