.buttons {
  background-color: rgba(189, 187, 187, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

.buttons{
  * {
    width: 300px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-contrat-creation-300 {
  width: 300px;
}

.button-250 {
  width: 250px;
}

.btn {
  border-radius: 12px !important;
  padding: 8px 48px !important;
  color: white !important;
}

.btn-small {
  padding: 4px 24px !important;
}


.border-classic {
  border-radius: 12px !important;
}

.border-classic-left {
  border-radius: 12px 0 0 12px !important;
}

.border-classic-right {
  border-radius: 0 12px 12px 0 !important;
}

.btn-cancel {
  color: $primary !important;
  background-color: white;
  border: 1px solid $primary
}

@media(max-width: 2000px) {


  .block-button {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
@media(max-width: 925px) {
  .block-button {

  }
}
