.nvbr {
  background: #050561;
  height: 8vh;
  align-items: center;
}

.logo {
  height: 100%;
  width: 30px;
}

.logo-principale {
  height: 100%;
  width: 100px;
  padding: 0 8px 2px 2px;
}

.logo-app {
  padding-top: 12px;
}

.div-logo {
  width: 110px;
  box-shadow: 0 0 0 0;
}

.navbar {
  height: 95px;
  z-index: 10;
  background: $dark-blue !important;
  color: white;
  justify-content: space-between !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.nav-link {
  color: white !important;
}

.nav-link-primary {
  color: $dark-blue !important;
}

.navbar-brand{
  color: white !important;
}

.navbar-light{
  background-color: white !important;
  color: $primary !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.dropdown-menu {
  background: $dark-blue  !important;
  color: white;
}

.dropdown-item {
  color: white;
}

.navbar-app {
  padding: 0px;
  background-color: white !important;
}

.navbar-brand-app {
  margin-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 100%;
}

