
.text-dark-blue {
  color: $dark-blue;
}

.text-dark-grey {
  color: $dark-grey;
}

.border-dark-blue {
  border-color: $dark-blue !important;
}

.text-small {
  color: #5E6366;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.5px;
  margin-bottom: 0px;
}

.text-important {
  color: #05455E;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.3px;
}

.text-semi-important {
  color: #50C0C7;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.text-important-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.3px;
  color: #05455E;
}

.text-grey {
  color: #657778;
}

.text-semibold {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
}

.mb-35 {
  margin-bottom: 35px;
}

.text-very-small {
  font-size: 12px;
}

.text-dark-green {
  color: #46AA62 !important;
}
.text-dark-orange {
  color: #FF5252 !important;
}
.text-light-orange {
  color: #FB9F4A!important;
}

.text-bold {
  font-weight: 700;
}

.text-big {
  font-size: 18px !important;
}

.text-10 {
  font-size: 10px !important;
}
.text-12 {
  font-size: 12px !important;
}
.text-14 {
  font-size: 14px !important;
}
.italic {
  font-style: italic !important;
}
.table-grey {
  color: #5E6366;
}
.signature-area {
  width: 100%;
  height: 150px;
  border: 2px dashed #bbb;
  border-radius: 8px;
  background-color: #fafafa;
}
